node_modules/
dist/
.gradle/
.direnv/
.envrc
.tools/
.flatpak-builder/
.tmp/
android.logs
output.log
output.*.log
logs.txt
logs/
syncpeer-android-*-arm64-v8a.apk
packages/tauri-shell/src-tauri/target/
packages/tauri-shell/src-tauri/gen/*
packages/tauri-shell/src-tauri/icons/*
!packages/tauri-shell/src-tauri/icons/.gitkeep
